load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
load("@bazel_tools//tools/build_defs/repo:git.bzl", "git_repository")

load("//ign_bazel:repositories.bzl", "ignition_repositories")
load("@bazel_tools//tools/build_defs/repo:git.bzl", "git_repository")

ignition_repositories()

load(
    "@rules_proto//proto:repositories.bzl",
    "rules_proto_dependencies",
    "rules_proto_toolchains"
)

rules_proto_dependencies()
rules_proto_toolchains()

git_repository(
    name = "bazelruby_rules_ruby",
    remote = "https://github.com/bazelruby/rules_ruby.git",
    commit = "6c025e38f0f030b75df2e321740eb31df575c391", 
    shallow_since = "1596606275 -0700"
)

load(
    "@bazelruby_rules_ruby//ruby:deps.bzl",
    "rules_ruby_dependencies",
    "rules_ruby_select_sdk",
)

rules_ruby_dependencies()

load("@bazel_skylib//:workspace.bzl", "bazel_skylib_workspace")
bazel_skylib_workspace()

rules_ruby_select_sdk(version = "2.7.1")
