load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
load("//ign_bazel:repositories.bzl", "ignition_repositories")

ignition_repositories()

load(
    "@rules_proto//proto:repositories.bzl",
    "rules_proto_dependencies",
    "rules_proto_toolchains"
)

rules_proto_dependencies()
rules_proto_toolchains()
