import %workspace%/bazel/cc_toolchain/bazel.rc

# Disable native Python rules in Bazel versions before 4.0.
build --incompatible_load_python_rules_from_bzl=yes

# Default to an optimized build.
build -c opt

# Default build options.
build --force_pic
build --strip=never
build --strict_system_includes
build --workspace_status_command=./bazel/workspace/workspace-status.bash
build --define enable_ifaddrs=true

test --define enable_ifaddrs=true

# -- Options for explicitly using GCC.
common:gcc --repo_env=CC=gcc
common:gcc --repo_env=CXX=g++
build:gcc --action_env=CC=gcc
build:gcc --action_env=CXX=g++
build:gcc --host_action_env=CC=gcc
build:gcc --host_action_env=CXX=g++
