# Default to an optimized build.
build -c opt

# Add C++17 copmiler flags.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Default build options.
build --force_pic
build --strip=never
build --strict_system_includes
build --workspace_status_command=./tools/workspace-status.bash

# Default test options.
test --test_output=errors
test --test_summary=terse
